<script src="{{ url_for('design-system.static', filename='assets/vendor/lodash/lodash4.17.21.js') }}"></script>
<script src="{{ url_for('performance_test_suite.static', filename='js/api/suitAPI.js') }}" type="text/javascript"></script>
<script src="{{ url_for('performance_test_suite.static', filename='js/utils/tableEvents.js') }}" type="text/javascript"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/utils.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/inputs.js') }}"></script>
<script src="{{ url_for('theme.static', filename='js/locations.js') }}" type="text/javascript"></script>
<!-- Components -->
<script src="{{ url_for('performance_test_suite.static', filename='js/components/SuitSearch.js') }}" type="text/javascript"></script>
<script src="{{ url_for('performance_test_suite.static', filename='js/components/SuitModal.js') }}" type="text/javascript"></script>
<script src="{{ url_for('performance_test_suite.static', filename='js/components/SuitConfirmModal.js') }}" type="text/javascript"></script>
<script src="{{ url_for('performance_test_suite.static', filename='js/components/Suits.js') }}" type="text/javascript"></script>